.submit-btn, .submit-btn2 {
    color: #ffffff;
    background: #82D026;
    font-size: 16px;
    font-weight: 400;
    width:200px;
    height:40px;
    font-family: "fantasy";
    border: none;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s all ease;
}

.submit-btn:hover {
    color: black;
    background: #F27059;
}

.submit-btn2:hover {
    color: black;
    background: #F27059;
}

.submit-btn2:disabled{
    opacity: 50%;
    color: black;
    background: #F27059;
    cursor: default;
}

.submit-btn2{
    float: right;
    margin-right: 20px;
}

body {
    background: url(https://sports.tms.gov.tw/_/UD/1507391036048432500.jpg);
}

#note_file {
    position: absolute;
    width: auto;
    height: auto;
    left: 50px;
    top: 30px;
    font-size: 30px;
}

#note_file a {
    color: black;
    text-decoration: none;
}