.submit-btn {
    color: #ffffff;
    background: #82D026;
    font-size: 16px;
    font-weight: 400;
    width:200px;
    height:40px;
    font-family: "fantasy";
    border: none;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s all ease;
}

.submit-btn:hover {
    color: black;
    background: #F27059;
}

.submit-btn:disabled{
    opacity: 50%;
    color: black;
    background: #F27059;
    cursor: default;
}